@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-battery157:before {
	content: "\e000";
}
.flaticon-bluetooth26:before {
	content: "\e001";
}
.flaticon-home153:before {
	content: "\e002";
}
.flaticon-location76:before {
	content: "\e003";
}
.flaticon-menu48:before {
	content: "\e004";
}
.flaticon-screen54:before {
	content: "\e005";
}
.flaticon-wifi33:before {
	content: "\e006";
}
