* {
    -webkit-user-select: none;
}

body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    width:100%;
    padding:0;
	margin:0;
	border:0;
	position: fixed;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Cabecera */
header {
	position:absolute; z-index:2;
	top:0; left:0;
	width:100%;
	background: #3c3c3c;
	border-bottom: 3px solid #de4b39;
	padding: 0px;
	color:#eee;
	font-size:20px;
	line-height: 45px;
	text-align:center;
	height: 45px;
}

header .btn {
    position: absolute;
    padding-right: 20px;
}

header .btn:active {
    background-color:#303030;
}


/* Páginas */
.page {
	background-color: #eaeaea;
	position:absolute;
	width: 100%;
	height: 100%;
    z-index: 2;
}

.page .content {
    margin-top: 45px;   
    padding-left: 20px;
    padding-top: 5px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}


/* Menú y sus transiciones */
#menu {
	background-color: #222222;
	position:absolute;
	width: 80%;
	height: 100%;
    z-index: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.ul-menu {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

.ul-menu li {
    font-size: 16px;
    background-color: #303030;
    color: #f4f4f4;
    height: 45px;
    line-height: 45px;
    border-bottom: 2px solid #4f4f4f;
    padding: 10px;
}

.ul-menu .icon {
    padding-right: 10px;
    color: #949494;
}

.center {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.right {
    transform: translate3d(80%, 0, 0);
    -webkit-transform: translate3d(80%, 0, 0);
}

.transition {
    transition-duration: .25s;
    -webkit-transform: transition-duration: .25s;
}